.back{
    background-image: linear-gradient(rgba(0, 68, 72, 0.594),rgba(0, 0, 0, 0));
    height: 800px; 
}
.sign{
transform: translate(70%,25%);
height: 600px;
background-image: linear-gradient(rgba(0, 78, 123, 0.162) , rgba(0, 154, 154, 0.484));
width: 40%;
border-radius: 70px;
overflow: hidden;
display: flex;
margin-bottom:200px ;
box-shadow: -20px 20px 60px 20px black;
flex-direction: column;
justify-content: space-around;
}
.sign h1{
    text-align: center;
    width: 100%;
}
.sign .form{
    margin-top: -100px;
    gap: 60px;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.sign .form form{
    width: 100%;
    text-align: center;
}
.sign .form input{
   margin: 20px;
   height: 40px;
   width: 80%;
   background-color: black;
   border-radius: 20px;
   border: none;
   color: white;
   padding-left:14px ;
}
.sign p{
    font-size: larger;
}
.sign button{
    padding: 10px;
    width: 100px;
    background-image: linear-gradient(rgba(0, 84, 90, 0.231),rgba(0, 59, 63, 0.374));
    font-size:18px ;
    border-radius:10px ;
    border: none;
    box-shadow: 0px 10px 20px black;
}
@media screen and (max-width : 960px){
    .sign{
        width: 90%;
        transform: translate(5%,20%);
        margin-bottom: 60%;
    }
}