.footer {
  width: 100%;
  border-radius: 6px;
  background-image: linear-gradient(rgba(0, 68, 72, 0.594),rgba(0, 0, 0, 0));
}
.colFlex{
    display: flex;
    gap: 4rem;
    flex-direction: column-reverse;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;
  padding: 60px;
}
.row .col h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.col .links {
  margin-top: 20px;
}

.col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.col .links li a {
  text-decoration: none;
}
.col p {
  margin: 20px 0;
  max-width: 300px;
}

.col form {
  display: flex;
  gap: 5px;
}

.col input {
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgba(240, 248, 255, 0.774);
  width: 100%;
  outline: none;
  padding-left: 10px;
}

 .col form button {
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0.774);
  font-weight: 500;
  transition: 0.2s ease;
}
.col .icons {
  list-style: none;
  display: flex;
  padding-top: 30px;
  font-size: 22px;
  cursor: pointer;
  gap: 20px;
}

@media (max-width: 768px) {
  .footer {
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
    align-items: center;
  }
  .footer .row {
    padding: 20px;
    gap: 1rem;
  }
  
  .col form {
    display: block;
  }

  .col form :where(input, button) {
    width: 100%;
  }

  .col form button {
    margin: 10px 0 0 0;
  }
}